.header__title {
  font-size: 4rem;
  flex: 0 0 40%;
  font-weight: 400;
  background: linear-gradient(to top right, #c2e59c, #64b3f4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.nav {
  flex: 0 0 60%;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__item {
      font-size: 2.25rem;
      transition: transform .2s;
      font-weight: 400;
  
      &:hover {
        transform: translateY(-.25rem) scale(105%);
      }

      & a {
        text-decoration: none;
        color: var(--color-text-primary);
      }
    }
  }
}

.hero {
  &__left {
    flex: 0 0 40%;
    font-size: 4.5rem;
    font-weight: 400;
    padding: 5rem 7.5rem;
    color: var(--color-text-primary);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    &__btn {
      font-size: 3rem;
      font-weight: 400;
      margin-top: 10rem;
      text-decoration: none;
      color: black;
      margin-right: auto;
      transition: letter-spacing .2s;
  
      &:hover {
        letter-spacing: .15rem;
      }
    }
  }
  
  &__right {
    flex: 0 0 60%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__img {
      width: 71.25rem;
      height: 48rem;
      animation: fadeIn 2s ease-in;  
    }
  }
}

.footer__icons__icon {
  margin: 0 1rem;
  cursor: pointer;
  transition: transform .3s;

  &:hover {
    transform: translateY(-.5rem) scale(115%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2.5rem);
  }
}
