.header__title {
  font-size: 4rem;
  flex: 0 0 40%;
  font-weight: 400;
  background: linear-gradient(to top right, #c2e59c, #64b3f4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  flex: 0 0 60%;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    font-size: 2.25rem;
    font-weight: 300;
  }

  & a {
    text-decoration: none;
    color: black;
  }
}

.hero-main {
  &__content {
    flex: 0 0 50%;
    background-color: yellowgreen; // Temp
  }

  &__img {
    flex: 0 0 50%;
    background-color: orangered; // Temp
  }
}
