.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 15vh;
  padding: 2.5rem 5.5rem;

  background-color: lightcoral;

  @media only screen and (max-width: $media-query-medium) {
    flex-direction: column;
    height: 20vh;
  }
}

.hero { 
  height: 75vh;
  display: flex;

  background-color: lightgreen;

  @media only screen and (max-width: $media-query-medium) {
    height: 65vh;
  }
}

.footer {
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightsalmon;

  @media only screen and (max-width: $media-query-medium) {
    height: 15vh;
  }
}
