.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 15vh;
  padding: 2.5rem 5.5rem;
}

.hero { 
  height: 75vh;
  display: flex;
}

.footer {
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
