* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header__title {
  font-size: 4rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.nav__list__item {
  font-size: 2.35rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  font-weight: 300;
}

.nav__list__item:hover {
  -webkit-transform: translateY(-0.25rem) scale(105%);
          transform: translateY(-0.25rem) scale(105%);
}

.nav__list__item a {
  text-decoration: none;
  color: #333366;
}

.hero__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  font-size: 4.5rem;
  font-weight: 400;
  padding: 0rem 3rem 0rem 8rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__left__btn {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 10rem;
  text-decoration: none;
  color: #fff;
  margin-right: auto;
  -webkit-transition: letter-spacing .2s;
  transition: letter-spacing .2s;
  border-radius: 3.5rem;
  border: 2px solid #fff;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), to(#c471ed));
  background: linear-gradient(to right, #12c2e9, #c471ed);
  -webkit-box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.363);
          box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.363);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.hero__left__btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.322);
          box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.322);
}

.hero__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 0rem 6rem 0rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__right__img {
  width: 71.25rem;
  height: 48rem;
  -webkit-animation: fadeIn 2s ease-in;
          animation: fadeIn 2s ease-in;
}

.footer__icons__icon {
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.footer__icons__icon:hover {
  -webkit-transform: translateY(-0.5rem) scale(115%);
          transform: translateY(-0.5rem) scale(115%);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  height: 15vh;
  padding: 2.5rem 5.5rem;
}

.hero {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */