* {
  margin: 0;
  padding: 0;
}

*,
*::after, 
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header__title {
  font-size: 4rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .header__title {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__title {
    margin-top: 4rem;
  }
}

.nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

@media only screen and (max-width: 37.5em) {
  .nav__list {
    display: none;
  }
}

.nav__list-item {
  font-size: 2.35rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  font-weight: 300;
}

.nav__list-item a {
  text-decoration: none;
  color: #333366;
}

@media (hover: hover) and (pointer: fine) {
  .nav__list-item:hover {
    -webkit-transform: translateY(-0.25rem) scale(105%);
            transform: translateY(-0.25rem) scale(105%);
    cursor: pointer;
  }
  .nav__list-item:hover::after {
    content: "";
    position: absolute;
    left: 0;
    top: -10;
    border-bottom: 1px solid #333366;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .nav__list-item {
    margin: 1rem 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .nav__list-item {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 22em) {
  .nav__list-item {
    font-size: 2.15rem;
  }
}

.hero__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  font-size: 4.5rem;
  font-weight: 400;
  padding: 0rem 3rem 0rem 8rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 75em) {
  .hero__left {
    font-size: 3.75rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .hero__left {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .hero__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    font-size: 5.25rem;
    padding: 0rem 5rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .hero__left {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .hero__left {
    font-size: 4rem;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .hero__left {
    font-size: 3.25rem;
  }
}

@media only screen and (max-width: 26em) {
  .hero__left {
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 22em) {
  .hero__left {
    font-size: 2.35rem;
  }
}

.hero__left-btn {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 10rem;
  text-decoration: none;
  color: #fff;
  margin-right: auto;
  -webkit-transition: letter-spacing .2s;
  transition: letter-spacing .2s;
  border-radius: 3.5rem;
  border: 2px solid #fff;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), to(#c471ed));
  background: linear-gradient(to right, #12c2e9, #c471ed);
  -webkit-box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.363);
          box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.363);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

@media only screen and (max-width: 56.25em) {
  .hero__left-btn {
    margin: 5rem 0 0 0;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .hero__left-btn {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .hero__left-btn {
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .hero__left-btn {
    font-size: 2.45rem;
  }
}

@media only screen and (max-width: 26em) {
  .hero__left-btn {
    font-size: 2.15rem;
  }
}

@media only screen and (max-width: 22em) {
  .hero__left-btn {
    font-size: 2rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .hero__left-btn:hover {
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
    -webkit-box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.322);
            box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.322);
  }
}

.hero__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 0rem 6rem 0rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .hero__right {
    display: none;
  }
}

.hero__right-img {
  width: 71.25rem;
  height: 48rem;
  -webkit-animation: fadeIn 2s ease-in;
          animation: fadeIn 2s ease-in;
  max-width: 100%;
  height: auto;
}

.footer__icons-icon {
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media (hover: hover) and (pointer: fine) {
  .footer__icons-icon:hover {
    -webkit-transform: translateY(-0.5rem) scale(115%);
            transform: translateY(-0.5rem) scale(115%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  height: 15vh;
  padding: 2.5rem 5.5rem;
}

@media only screen and (max-width: 56.25em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    height: 15vh;
    padding: 2rem 0;
  }
}

.hero {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .hero {
    height: 70vh;
    padding: 6.25rem 0 8.25rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .hero {
    height: 75vh;
  }
}

.footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 56.25em) {
  .footer {
    height: 10vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 2rem 0;
  }
}
/*# sourceMappingURL=main.css.map */
