.header__title {
  font-size: 4rem;
  flex: 0 0 40%;
  font-weight: 400;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;

  @media only screen and (max-width: $media-query-900) {
    margin-bottom: 1.5rem;
  }

  @media only screen and (max-width: $media-query-600) {
    margin-top: 4rem;
  }
}

.nav {
  flex: 0 0 60%;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    @media only screen and (max-width: $media-query-600) {
      display: none;
    }
  }

  &__list-item {
    font-size: 2.35rem;
    transition: transform .2s;
    font-weight: 300;

    & a {
      text-decoration: none;
      color: #333366;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: translateY(-.25rem) scale(105%);
        cursor: pointer;
  
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: -10;
          border-bottom: 1px solid #333366;
          width: 100%;
          height: 100%;
        }
      }
    }

    @media only screen and (max-width: $media-query-900) {
      margin: 1rem 2.5rem;
    }

    @media only screen and (max-width: $media-query-600) {
      margin-bottom: 1rem;
    }

    @media only screen and (max-width: $media-query-350) {
      font-size: 2.15rem;
    }
  }
}

.hero {
  &__left {
    flex: 0 0 40%;
    font-size: 4.5rem;
    font-weight: 400;
    padding: 0rem 3rem 0rem 8rem;
    color: #000;
  
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $media-query-1200) {
      font-size: 3.75rem;
    }

    @media only screen and (max-width: $media-query-1000) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: $media-query-900) {
      flex: 0 0 100%;
      justify-content: center;
      align-items: center;
      padding: 0;
      font-size: 5.25rem;
      padding: 0rem 5rem;
    }

    @media only screen and (max-width: $media-query-700) {
      font-size: 4.5rem;
    }

    @media only screen and (max-width: $media-query-600) {
      font-size: 4rem;
      padding: 0 1rem;
    }

    @media only screen and (max-width: $media-query-500) {
      font-size: 3.25rem;
    }

    @media only screen and (max-width: $media-query-415) {
      font-size: 2.75rem;
    }

    @media only screen and (max-width: $media-query-350) {
      font-size: 2.35rem;
    }
  }
  
  &__left-btn {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 10rem;
    text-decoration: none;
    color: #fff;
    margin-right: auto;
    transition: letter-spacing .2s;
    border-radius: 3.5rem;
    border: 2px solid #fff;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    background: linear-gradient(to right, #12c2e9, #c471ed);
    box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.363);
    transition: transform .2s;

    @media only screen and (max-width: $media-query-900) {
      margin: 5rem 0 0 0;
      font-size: 3.5rem;
    }

    @media only screen and (max-width: $media-query-700) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $media-query-600) {
      font-size: 2.75rem;
    }

    @media only screen and (max-width: $media-query-500) {
      font-size: 2.45rem;
    }

    @media only screen and (max-width: $media-query-415) {
      font-size: 2.15rem;
    }

    @media only screen and (max-width: $media-query-350) {
      font-size: 2rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: translateY(-.3rem);
        box-shadow: 1.5rem 2rem 3.5rem rgba(0, 0, 0, 0.322);
      }
    }
  }
  
  &__right {
    flex: 0 0 60%;
    padding: 0rem 6rem 0rem 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $media-query-900) {
      display: none;
    }
  }
  
  &__right-img {
    width: 71.25rem;
    height: 48rem;
    animation: fadeIn 2s ease-in;  
    max-width: 100%;
    height: auto;
  }
}

.footer__icons-icon {
  margin: 0 1rem;
  cursor: pointer;
  transition: transform .3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: translateY(-.5rem) scale(115%);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2.5rem);
  }
}
