.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 15vh;
  padding: 2.5rem 5.5rem;

  // background-color: lightcoral;

  @media only screen and (max-width: $media-query-900) {
    flex-direction: column;
    height: 20vh;
  }

  @media only screen and (max-width: $media-query-600) {
    height: 15vh;
    padding: 2rem 0;
  }
}

.hero { 
  height: 75vh;
  display: flex;

  // background-color: lightgreen;

  @media only screen and (max-width: $media-query-900) {
    height: 70vh;
    padding: 6.25rem 0 8.25rem 0;
  }

  @media only screen and (max-width: $media-query-600) {
    height: 75vh;
  }
}

.footer {
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  // background-color: lightsalmon;

  @media only screen and (max-width: $media-query-900) {
    height: 10vh;
  }

  @media only screen and (max-width: $media-query-600) {
    padding: 2rem 0;
  }
}
